body{
    background-color:#CBE3EE;
}
.container{
    display: flex;
    flex-direction: column;
    transform: translateY(70%);
}
.box{
    width: 60%;
    margin: 0 auto;
    border-radius: 10px;
    padding: 20px;
    background-color: white;
    border-top: 10px solid #96C4D8;
    border-bottom: 10px solid #96C4D8;
    padding-top: 100px;
}
.title{
    text-align: center;
}
.img{
    text-align: center;
}
img{
    width: 200px;
    height: 200px;
    border-radius: 40%;
    transform: translateY(50%);
    border: 5px solid #548BA1;
}
ol{
    padding-left: 20px;
    font-weight: bold;
}